@import "./scss/bootstrap.scss";
@import "./scss/auth.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.custom-container {
    @extend .container;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    /* same as Tailwind */
    padding-left: 1rem;
}

@media (min-width: 640px) {
    .custom-container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .custom-container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .custom-container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .custom-container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .custom-container {
        max-width: 1536px;
    }
}
.my-container .ant-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-container .ant-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
