@import "./scss/bootstrap.scss";
@import "./scss/auth.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}